certifi==2022.12.7
charset-normalizer==3.0.1
dominate==2.7.0
idna==3.4
imageio==2.26.0
jsonpatch==1.32
jsonpointer==2.3
lazy_loader==0.1
networkx==3.0
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.7.0.68
packaging==23.0
Pillow==9.4.0
PyWavelets==1.4.1
requests==2.28.2
scikit-image==0.20.0
scipy==1.9.1
six==1.16.0
tifffile==2023.2.28
torch==1.13.1
torchvision==0.14.1
tornado==6.2
typing_extensions==4.4.0
urllib3==1.26.14
visdom==0.2.3
websocket-client==1.5.1
